doctype html
html(lang="en")
    include includes/head
    body
        include includes/nav
        include includes/noscript
        .container-fluid
            .row-fluid.egress-template
                .row-fluid.text-center
                    .container
                        if msg
                            .alert.alert-danger#error #{msg}
                        header
                            h1 #{siteDescription}.
                            hr
                        .text-left(style="min-width:50px; max-width:600px; margin:0 auto;")
                            p.lead The goal of #{siteName} is to help you gain insights into your quality of life, over time 
                                | by recording your daily experience of life on a scale from awesome to terrible.
                            p.lead Check out 
                                a(href="http://reddit.com/r/anger") r/Anger 
                                | while you're on the internet.

        include includes/scripts