doctype html
html(lang="en")
    include includes/head
    body
        include includes/nav
        .container
            .text-center.egress-template
                header.page-header
                    h1 About #{siteName}
                p.lead 
                    | Today Was... is a simple quality of life tracker. <br>
                    | The goal of this application is to gain insights into your quality of life, over time <br>
                    | by recording your daily experience of life on a scale of 1 to 5.
                p.lead "Ain't nothin' to it, gangsta rap made me do it" - Ice Cube
                p.lead
                    | Today Was... is developed by 
                    a(href="http://twitter.com/_Shakeel", target="_blank") Shakeel Mohamed

        include includes/scripts