include includes/head
body
    include includes/nav
    .container
        .row.text-center.tw-template
            h1 About
            p 
                | Today Was... is a simple quality of life tracker. <br>
                | The goal of this application is to gain insights into your quality of life, over time <br>
                | by recording your daily experience of life on a scale of 1 to 5.
                | <br>
                | "Ain't nothin' to it, gangsta rap made me do it" - Ice Cube
            p 
                | Today Was... is developed by 
                a(href="http://twitter.com/_Shakeel", target="_blank") Shakeel Mohamed
                | <br>
                | Source code is available on 
                a(href="http://github.com/shakeelmohamed/today-was", target="_blank") Github.

    include includes/scripts
    include includes/foot