include includes/head
body
    include includes/nav
    .container
        .tw-template
            h1
                img(src="assets/img/good_day.gif")
            p.lead Was it really? Rate your day on a 1 to 5 scale below.
            form
                label(style="padding:4px;") 1 
                    input(type="radio" name="rating" value="1")
                label(style="padding:4px;") 2 
                    input(type="radio" name="rating" value="2") 2
                label(style="padding:4px;") 3 
                    input(type="radio" name="rating" value="3") 3
                label(style="padding:4px;") 4 
                    input(type="radio" name="rating" value="4") 4
                label(style="padding:4px;") 5 
                    input(type="radio" name="rating" value="5") 5

    include includes/scripts