include includes/head
body
    include includes/nav
    .container
        .text-center.tw-template
            h1
                img(src="assets/img/good_day.gif" alt="I got to say it was a good day, a quote from Ice Cube's 'Today Was a Good Day'")
            p.lead Was it really? Join to begin rating your days on a 1 to 5 scale.

    include includes/scripts
    include includes/foot