include includes/head
body
    include includes/nav
    .container
        .row.text-center.tw-template
            h1 Journal
            p Welcome to your journal #{user}
        .row.text-center
            form
                label(style="padding:4px;") 1 
                    input(type="radio" name="rating" value="1")
                label(style="padding:4px;") 2 
                    input(type="radio" name="rating" value="2")
                label(style="padding:4px;") 3 
                    input(type="radio" name="rating" value="3")
                label(style="padding:4px;") 4 
                    input(type="radio" name="rating" value="4")
                label(style="padding:4px;") 5 
                    input(type="radio" name="rating" value="5")

    include includes/scripts
    include includes/foot