include includes/head
body
    include includes/nav
    .container
        .tw-template
            h1 List of newest users
            ul#newUserList.list-unstyled

    include includes/scripts
    script.
        userData = JSON.parse(htmlDecode("#{users}"));
        document.getElementById("newUserList").innerHTML = dumpValsFromJSON(userData);
    include includes/foot