doctype html
html(lang="en")
    include includes/head
    body
        include includes/nav
        .container-fluid
            .text-center.egress-template
                if msg
                    .alert.alert-danger#error #{msg}
                .container
                    header.hidden-xs
                        h1 Sign in to #{siteName}
                        hr
                    include forms/signin
        
        include includes/scripts
        script.
            localStorage.clear();
            if (localStorage.journal) {
                delete localStorage.journal;
            }
            if (localStorage.rating) {
                delete localStorage.rating;
            }