!!!5
html(lang="en")
  head
    title Today Was...
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Rate your life! Today Was... is a quality of life tracker.")
    meta(name="author", content="Shakeel Mohamed")
    block styles
      link(rel="shortcut icon", href="assets/ico/favicon.ico")
      link(href="dist/css/bootstrap.css", rel="stylesheet")
      link(href="starter-template.css", rel="stylesheet")

    | <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    | <!--[if lt IE 9]>
    |  <script src="assets/js/html5shiv.js"></script>
    |  <script src="assets/js/respond.min.js"></script>
    | <![endif]-->

  body
    div(class="navbar navbar-inverse navbar-fixed-top")
      .container
        .navbar-header
          button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand" href="./") Today Was...
        div(class="collapse navbar-collapse")
          ul(class="nav navbar-nav")
            li
              a(href="./") Home
            li.active
              a(href="./about") About
    .container
      .starter-template
        h1 About
        p 
          | Today Was... is a simple application that records how your day was on a scale of 1 to 5. <br>
          | The goal of this application is to gain insights into your quality of life, over time.
        p 
          | Today Was... is developed by 
          a(href="http://twitter.com/_Shakeel", target="_blank") Shakeel Mohamed
          | <br>
          | Source code is available on 
          a(href="http://github.com/shakeelmohamed/today-was", target="_blank") Github.

    script(src='assets/js/jquery.js')
    script(src='dist/js/bootstrap.min.js')
