!!!5
html(lang="en")
  head
    title #{title} - Today Was...
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Rate your life! Today Was... is a quality of life tracker.")
    meta(name="author", content="Shakeel Mohamed")
    block styles
      link(rel="shortcut icon", href="assets/ico/favicon.ico")
      link(href="dist/css/bootstrap.css", rel="stylesheet")
      link(href="assets/tw.css", rel="stylesheet")

    | <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    | <!--[if lt IE 9]>
    |  <script src="assets/js/html5shiv.js"></script>
    |  <script src="assets/js/respond.min.js"></script>
    | <![endif]-->