script.
    var user = '!{user}';

// Follow the format of {'url': 'visiblename' }
- var navItems = {'': 'Home', 'about': 'About'}
.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(class="navbar-brand" href="./") Today Was...
    .collapse.navbar-collapse
        ul.nav.navbar-nav
            - for navItem, path in navItems
                if path === loc
                    li.active
                        a(href= '/' + path)= navItem
                else
                    li
                        a(href= '/' + path)= navItem
        - if(user)
            ul.nav.navbar-nav.navbar-right
                li
                    a(style="color:whitesmoke;") Hello, #{user}
        - else
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/login" style="color:whitesmoke") Login
            
